.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

input[type="range"].range-slider {
  width: 280px;
}

input {
  width: 280px;
}

h3 {
  margin-bottom: 1.2em;
}
.main {
  margin: 25px;
}

.robot-card__buttons-wrapper {
  display: flex;
  gap: 15px;
}

.robot-icons {
  cursor: pointer;
  transform: scale(1);
  transition: all 0.2s ease;
}

.robot-icons:hover {
  transform: scale(1.2);
  color: red;
}
